services:
  ros:
    image: test-ros
    build: .

    privileged: true
    network_mode: host
    pid: host
    ipc: host

    devices:
      - /dev/hailo0:/dev/hailo0
      - /dev/ttyAMA0:/dev/ttyAMA0
      - /dev/ttyUSB0:/dev/ttyUSB0

    volumes:
      - /dev:/dev
      - /lib/firmware:/lib/firmware
      - /lib/udev/rules.d:/lib/udev/rules.d:ro
      - /lib/modules:/lib/modules:ro
      - /run/udev:/run/udev:ro

      - /sys:/sys
      - /proc:/proc
      - /run/dbus:/run/dbus
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /home/batuhan/drone-project/ros2_ws:/home/batuhan/ros2_ws
      - /home/batuhan/drone-project/docker_shared:/home/batuhan/shared
      - /home/batuhan/drone-project/config:/config
      - /home/batuhan/drone-project/ros2_docker/entrypoint.sh:/entrypoint.sh  
      - /usr/share/hailo-models:/usr/share/hailo-models   
      - /usr/lib/aarch64-linux-gnu/hailo/tappas/post_processes:/usr/share/hailo-postprocess

    group_add:
      - "20"
      
    environment:
      ROS_DOMAIN_ID: 10
      
    working_dir: /home/batuhan/ros2_ws
    command: bash 
    stdin_open: true
    tty: true
