[Unit]
Description=Apply UVC camera settings
After=dev-video0.device
Wants=dev-video0.device

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 2
ExecStart=/bin/sh -c '\
  set -x; \
  /usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=white_balance_automatic=0; \
  /usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=white_balance_temperature=4600; \
  /usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=auto_exposure=1; \
  /usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=exposure_time_absolute=15; \
  /usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=exposure_dynamic_framerate=0; \
  /usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=focus_automatic_continuous=0 && \
  /usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=focus_absolute=1; \
  /usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=backlight_compensation=0'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
