[Unit]
Description=Apply UVC camera settings
After=dev-video0.device
Wants=dev-video0.device

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/v4l2-ctl --device=/dev/video0 --set-ctrl=white_balance_automatic=0,white_balance_temperature=4000,auto_exposure=1,exposure_time_absolute=450,exposure_dynamic_framerate=0,focus_absolute=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target